In [1]:
# Importing the required libraries
import dash                                                  
from dash.dependencies import Input, Output                  
import dash_core_components as dcc                           
import dash_html_components as html        
#import dash_daq as daq
import dash_bootstrap_components as dbc                      
import plotly.io as pio                                      
pio.renderers.default = "browser"                            
import plotly.express as px                                 
import numpy as np                                          
import pandas as pd            
import math

In [2]:
# Importing the required dataset
df = pd.read_csv(r'C:\Users\Vipul\Downloads\WorldBankData.csv', encoding = 'mac_roman')

In [3]:
df.head()

,Region,IncomeGroup,SpecialNotes,Country Name,1991,1992,1993,1994,1995,1996,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan,1.300000,0.800000,0.700000,0.600000,1.800000,1.000000,...,8.20000,8.200000,8.100000,8.200000,8.000000,8.400000,8.600000,8.600000,8.60000,8.500000
1,Sub-Saharan Africa,Lower middle income,NaN,Angola,6.200000,6.100000,5.900000,6.200000,6.400000,6.400000,...,6.40000,6.200000,6.200000,6.200000,6.200000,6.200000,6.200000,6.200000,6.10000,6.200000
2,Europe & Central Asia,Upper middle income,NaN,Albania,12.700000,13.600000,15.000000,14.800000,14.300000,14.100000,...,13.00000,13.800000,14.200000,14.000000,13.400000,15.600000,17.500000,17.100000,15.20000,15.000000
3,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World,12.569172,12.899079,13.596881,13.738961,14.560633,14.122322,...,10.29082,9.978365,9.963334,11.079206,11.358198,11.284136,11.376175,11.264614,11.24066,11.096682
4,Middle East & North Africa,High income,NaN,United Arab Emirates,3.200000,3.300000,3.300000,2.100000,1.800000,2.700000,...,4.00000,4.200000,4.100000,4.100000,4.100000,4.100000,4.000000,4.000000,3.80000,3.800000

In [4]:
df.drop(['SpecialNotes'], inplace = True, axis = 1)
df.head()

,Region,IncomeGroup,Country Name,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,South Asia,Low income,Afghanistan,1.300000,0.800000,0.700000,0.600000,1.800000,1.000000,1.000000,...,8.20000,8.200000,8.100000,8.200000,8.000000,8.400000,8.600000,8.600000,8.60000,8.500000
1,Sub-Saharan Africa,Lower middle income,Angola,6.200000,6.100000,5.900000,6.200000,6.400000,6.400000,6.300000,...,6.40000,6.200000,6.200000,6.200000,6.200000,6.200000,6.200000,6.200000,6.10000,6.200000
2,Europe & Central Asia,Upper middle income,Albania,12.700000,13.600000,15.000000,14.800000,14.300000,14.100000,13.200000,...,13.00000,13.800000,14.200000,14.000000,13.400000,15.600000,17.500000,17.100000,15.20000,15.000000
3,NaN,NaN,Arab World,12.569172,12.899079,13.596881,13.738961,14.560633,14.122322,13.588103,...,10.29082,9.978365,9.963334,11.079206,11.358198,11.284136,11.376175,11.264614,11.24066,11.096682
4,Middle East & North Africa,High income,United Arab Emirates,3.200000,3.300000,3.300000,2.100000,1.800000,2.700000,2.600000,...,4.00000,4.200000,4.100000,4.100000,4.100000,4.100000,4.000000,4.000000,3.80000,3.800000

In [5]:
df.describe()

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,...,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000
mean,8.737491,8.913977,9.146993,9.206319,9.148745,9.303947,9.208476,9.215979,9.171891,9.090720,...,7.936294,8.709275,8.842239,8.830451,8.838084,8.813377,8.677316,8.535599,8.422237,8.350775
std,6.008863,5.988098,6.137088,6.053356,6.118809,6.211707,6.133445,5.960125,5.770467,5.978851,...,5.577860,5.653687,5.827631,5.855038,6.057424,6.055662,5.994918,5.894127,5.839692,5.768752
min,0.100000,0.500000,0.400000,0.400000,0.200000,0.300000,0.700000,0.500000,0.300000,0.700000,...,0.300000,0.200000,0.400000,0.200000,0.200000,0.300000,0.100000,0.100000,0.200000,0.300000
25%,4.675000,4.925000,4.975000,5.075000,5.200000,5.375000,5.378766,5.300000,5.588005,4.875000,...,4.750000,5.400000,5.200000,5.000000,5.000000,5.049143,5.062712,5.000000,4.800000,4.875000
50%,6.900000,7.500000,7.700000,7.713781,7.515185,7.650000,7.700000,7.700000,7.650000,7.450000,...,6.400000,7.700000,7.590371,7.200000,7.114607,7.100000,6.729784,6.800000,6.500000,6.409962
75%,11.801523,11.976021,12.200000,12.350000,11.920385,12.398784,12.150000,12.225000,12.221660,12.409416,...,9.453536,10.125000,10.800000,11.225000,11.373848,11.525000,11.094356,10.809363,10.825000,10.955534
max,31.700001,31.400000,32.000000,31.799999,34.900002,37.000000,39.299999,34.500000,32.400002,32.900002,...,33.799999,32.200001,32.000000,31.400000,31.000000,31.100000,31.200001,31.299999,31.400000,31.400000

In [6]:
def get_data(data, country = 'India', gap = 1):
    df1 = data.T[2:]                             
    df1.reset_index()                            
    df2 = df1.T                                  
    df3 = df2[df2['Country Name'] == country].set_index('Country Name').T.rolling(window = gap).mean()
    val_list = df3[country].tolist()             
    
    return df3, val_list                         

get_data(df, 'China')

(Country Name  China
 1991            4.9
 1992            4.4
 1993            4.3
 1994            4.3
 1995            4.6
 1996            4.6
 1997            4.6
 1998            4.7
 1999            4.7
 2000            4.5
 2001            4.5
 2002            4.4
 2003            4.3
 2004            4.3
 2005            4.1
 2006            4.0
 2007            3.8
 2008            4.4
 2009            4.3
 2010            4.2
 2011            4.3
 2012            4.5
 2013            4.5
 2014            4.6
 2015            4.5
 2016            4.6
 2017            4.6,
 [4.900000095,
  4.400000095,
  4.300000191000001,
  4.3000001910000005,
  4.599999904999999,
  4.599999904999998,
  4.599999904999998,
  4.699999808999999,
  4.6999998089999995,
  4.5,
  4.5,
  4.400000094999999,
  4.300000191,
  4.3000001910000005,
  4.099999904999999,
  3.999999999999999,
  3.7999999519999985,
  4.400000094999999,
  4.300000191,
  4.1999998089999995,
  4.3000001910000005,
  4.5,
  4.5,
  4.599999905000001,
  4.500000000000001,
  4.599999905000001,
  4.5999999050000016])

In [7]:
# For using the stylesheets and themes inbuilt in the Bootstrap library
stylesheets = [dbc.themes.BOOTSTRAP]
app = dash.Dash(__name__, external_stylesheets = stylesheets)           
app.title = 'Global Unemployment'

In [8]:
# '#111111' - Black, '#E6FFFF' - Aqua/Teal, '#7FDBFF' - Light Blue
colours = {'background':'#111111', 'bodyColor':'#E6FFFF', 'text':'#7FDBFF', 'info':'#B30000'}

main_info = ''' Unemployment occurs when a person who is actively searching for employment is unable to find work. Unemployment is often used as a measure of the health of the economy.
Unemployment can have many sources like 
new technologies and inventions, the status of the economy which can be influenced by a recession, 
or competition caused by globalization and international trade, policies of the government, or regulation and market.

According to the UN's International Labour Organization (ILO), there were 172 million people worldwide (or 5% of the reported global workforce) without work in 2019.

The most frequent measure of unemployment is the unemployment rate, which is the number of unemployed people divided by the number of people in the labour force.\n
'''

def get_title():
    return html.H1(children = 'World Unemployment Rate Analysis',
                    style = {'textAlign':'center', 'color':colours['text']})

def get_caption():
    return html.Div(children = 'Analysis of Global Unemployment Rate using the Data provided by the World Bank',
                    style = {'textAlign':'center', 'color':colours['text']})

def get_header():
    main_header =  dbc.Row([dbc.Col(get_title(), md = 12)], align = "center",
                            style = {'backgroundColor':colours['background']})
    
    caption_header = dbc.Row([dbc.Col(get_caption(), md = 12)], align = "center",
                            style = {'backgroundColor':colours['background']})
    
    header = (main_header,caption_header)
    return header

def info():
    return html.H5(children = main_info, style = {'textAlign':'center', 'color':colours['info']})

def get_info():
    content = dbc.Row([dbc.Col(info(), md = 12)], align = "center",)
                    
    return content

def title2():
    return html.H1(children = 'Data Analysis',
                    style = {'textAlign':'center', 'color':colours['text']})

def get_header2():
    return dbc.Row([dbc.Col(title2(), md = 12)], align = "center",
                            style = {'backgroundColor':colours['background']})

def pred_content():
    pred_data = ''' Select the Country and Year from the dropdowns to get the Unemployment Rate Prediction of 
    the selected Country in the selected Year.'''
    data_form = html.H5(children = pred_data, style = {'textAlign':'center', 'color':colours['info']})
    
    return dbc.Row([dbc.Col(data_form, md = 12)], align = "center",)
    
inc_content = ''' The Mean Unemployment Rate of a country gives us a rough estimate of the common value of its 
unemployment rate over the past years. Below you will find the graphical analysis of the Mean Unemployment Rates of countries 
depending on the category of Income they belong to. Four categories have been considered for Analysis: Low income, Lower middle income, 
Upper middle income and High income. This will help in analyzing the Unemployment Rate variation amongst the countries 
in the same Income group.'''

def data_inc_content():
    return html.H5(children = inc_content, style = {'textAlign':'center', 'color':colours['info']})

def get_inc_content():
    return dbc.Row([dbc.Col(data_inc_content(), md = 12)], align = "center",)

reg_content = ''' Given below is the graphical analysis of the Mean Unemployment Rates of countries 
depending on the Region they belong to. This will help in analyzing the Unemployment Rate variation amongst the countries 
in the same Region.'''

def data_reg_content():
    return html.H5(children = reg_content, style = {'textAlign':'center', 'color':colours['info']})

def get_reg_content():
    return dbc.Row([dbc.Col(data_reg_content(), md = 12)], align = "center",)

In [9]:
def get_country_list():
    return df['Country Name'].unique()                        

def create_dropdown(country_list):
    dropdown = []
    for cntry in sorted(country_list):
        temp_dict = {'label':cntry, 'value':cntry}
        dropdown.append(temp_dict)
    return dropdown

# Just for checking the above functions
create_dropdown(get_country_list())

def get_dropdown():
    return html.Div([html.Label('Select Country'),
                    dcc.Dropdown(id = 'mydrop',
                    options = create_dropdown(get_country_list()), value = 'India'), 
                    html.Div(id = 'mydiv')])

In [10]:
def create_dropdown3():
    val = list(range(2021, 2031))
    dropdown3 = []
    for yr in val:
        temp_dict3 = {'label':yr, 'value':yr}
        dropdown3.append(temp_dict3)
    return dropdown3

def get_dropdown3():
    return html.Div([html.Label('Select the Year for Prediction'),
                    dcc.Dropdown(id = 'mydrop3',
                    options = create_dropdown3(), value = 2021), 
                    html.Div(id = 'mydropd3')])

In [11]:
from sklearn.model_selection import train_test_split            
from sklearn.linear_model import LinearRegression               

def get_data_prediction(country = 'India'):
    df_pred = df[df['Country Name'] == country].T[2:].reset_index().T.set_index(0).T
    df_pred.rename(columns = {'Country Name':'Years'}, inplace = True)
    return df_pred

In [12]:
# Just for checking the above functions
a = get_data_prediction('China')                  
X = a.iloc[:, :-1].values                          
Y = a.iloc[:, 1].values                            
    
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
model = LinearRegression()                         
model.fit(X_train, Y_train)                        
print(model.intercept_)                            
print(model.coef_)                                 
y_pred = model.predict(X_test)                     

l = pd.DataFrame({'Actual': Y_test, 'Predicted': y_pred})
l.T

18.348121657604207
[-0.00694031]

                 0       1        2        3        4        5
Actual         4.3     4.5      4.1      4.4      4.6      4.4
Predicted  4.51609  4.3634  4.43281  4.41199  4.49527  4.45363

In [13]:
from sklearn import metrics                       
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

Mean Absolute Error: 0.1426397296182952
Mean Squared Error: 0.03168374095991701
Root Mean Squared Error: 0.1779992723578302

In [14]:
rmse = np.sqrt(metrics.mean_squared_error(Y_test, y_pred))
error = (rmse/Y_test.mean()) * 100
accuracy = 100 - error
print('Accuracy: ', accuracy)

Accuracy:  95.93918012779157

In [15]:
def prediction(country = 'India', year = 2021):
    df_pred = get_data_prediction(country)
    X = df_pred.iloc[:, :-1].values
    Y = df_pred.iloc[:, 1].values

    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
    model = LinearRegression()
    model.fit(X_train, Y_train)
    y_pred = model.predict([[year]])
    return y_pred                                          

prediction('United States')

array([6.96120853])

In [16]:
def calc_accuracy(country = 'India'):
    acc = prediction(country)
    rmse = np.sqrt(metrics.mean_squared_error(Y_test, y_pred))
    error = (rmse/Y_test.mean()) * 100
    accuracy = 100 - error
    
    return accuracy

def get_accuracy(country = 'India'):
    p = calc_accuracy(country)
    accuracy_info = 'The accuracy of the unemployment rate prediction displayed above is close to {}%.'.format(math.floor(p))
    data = html.H5(children = accuracy_info, style = {'textAlign':'center', 'color':colours['info']})
    disp = html.Div([dbc.Row([dbc.Col(data, md = 12)], align = "center",),], id = 'myacc')
                    
    return disp

In [17]:
def box_format(i):
    head_style = {'textAlign':'center','fontSize':'200%'}
    body_style = {'textAlign':'center','fontSize':'150%'}
    heading = 'Unemployment Rate Prediction'                      
    
    header = dbc.CardHeader(heading, style = head_style)
    
    body = dbc.CardBody(
        [html.H5('The Unemployment Rate is predicted to be around {}.'.format(round(i.tolist()[0], 2)), 
                 className = "mytext", style = body_style),])
    
    box = [header,body]
    return box

In [18]:
def get_box(country = 'India', year = 2021):
    my_pred = prediction(country, year)                      
    
    card = html.Div([dbc.Row(
        [dbc.Col(dbc.Card(box_format(my_pred), color = 'success', inverse = True), 
                             md = dict(size = 6, offset = 3))], align = 'center', 
        className = 'mybox',),],
            id = 'mycard')
    return card

In [19]:
def get_plot(country = 'India', gap = 1):
    df3, val_list = get_data(df, country, gap)                     

    if gap == 1:                                                   
        xaxis_head = 'Years'
    else:
        xaxis_head = '{}-Years Mean Average'.format(gap)           
        
    fig = px.line(df3, y = val_list, x = df3.index, title = 'Yearly Unemployment Variations for {}'.format(country), width = 1550, height = 500, color_discrete_sequence = ['maroon'])
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#F2DFCE', paper_bgcolor = '#F2DFCE', xaxis_title = xaxis_head, yaxis_title = 'Unemployment Rate')
    fig.update_xaxes(nticks = len(df3.index))
    return fig

In [20]:
def show_plot():
    return dcc.Graph(id = 'myplot', figure = {})

In [21]:
def get_data_analytics():
    df1 = df.T[1:]                             
    df1.reset_index()                            
    df2 = df1.T
    return df2

In [22]:
def get_li_plot():
    df2 = get_data_analytics()
    df3 = df2[df2['IncomeGroup'] == 'Low income']
    d = df3.T[1:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined = pd.concat([d['Country Name'], m], axis = 1)
    combined.columns =['Country Name', 'Mean']
        
    fig = px.bar(combined, x = 'Country Name', y = 'Mean', title = 'Average Unemployment Rates of the Countries having Low income', width = 1550, height = 500, barmode = 'group')
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#F2DFCE', paper_bgcolor = '#F2DFCE', xaxis_title = 'Countries having Low income', yaxis_title = 'Unemployment Rates')
    return dcc.Graph(id = 'plot1', figure = fig)

In [23]:
def get_lmi_plot():
    df2 = get_data_analytics()
    df3 = df2[df2['IncomeGroup'] == 'Lower middle income']
    d = df3.T[1:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined = pd.concat([d['Country Name'], m], axis = 1)
    combined.columns =['Country Name', 'Mean']
        
    fig = px.bar(combined, x = 'Country Name', y = 'Mean', title = 'Average Unemployment Rates of the Countries having Lower middle income', width = 1550, height = 500, barmode = 'group', color_discrete_sequence = ['green'])
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#FFFFB3', paper_bgcolor = '#FFFFB3', xaxis_title = 'Countries having Lower middle income', yaxis_title = 'Unemployment Rates')
    return dcc.Graph(id = 'plot2', figure = fig)

In [24]:
def get_umi_plot():
    df2 = get_data_analytics()
    df3 = df2[df2['IncomeGroup'] == 'Upper middle income']
    d = df3.T[1:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined = pd.concat([d['Country Name'], m], axis = 1)
    combined.columns =['Country Name', 'Mean']
        
    fig = px.bar(combined, x = 'Country Name', y = 'Mean', title = 'Average Unemployment Rates of the Countries having Upper middle income', width = 1550, height = 500, barmode = 'group', color_discrete_sequence = ['yellow'])
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#FFCCCC', paper_bgcolor = '#FFCCCC', xaxis_title = 'Countries having Upper middle income', yaxis_title = 'Unemployment Rates')
    return dcc.Graph(id = 'plot3', figure = fig)

In [25]:
def get_hi_plot():
    df2 = get_data_analytics()
    df3 = df2[df2['IncomeGroup'] == 'High income']
    d = df3.T[1:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined = pd.concat([d['Country Name'], m], axis = 1)
    combined.columns =['Country Name', 'Mean']
        
    fig = px.bar(combined, x = 'Country Name', y = 'Mean', title = 'Average Unemployment Rates of the Countries having High income', width = 1550, height = 500, barmode = 'group', color_discrete_sequence = ['red'])
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#CCFFCC', paper_bgcolor = '#CCFFCC', xaxis_title = 'Countries having High income', yaxis_title = 'Unemployment Rates')
    return dcc.Graph(id = 'plot4', figure = fig)

In [26]:
def get_ssa_plot():
    df1 = df
    df1 = df1.reset_index()
    df3 = df1[df1['Region'] == 'Sub-Saharan Africa']
    d = df3.T[3:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined2 = pd.concat([d['Country Name'], m], axis = 1)
    combined2.columns =['Country Name', 'Mean']
    
    fig = px.bar(combined2, x = 'Mean', y = 'Country Name', title = 'Average Unemployment Rates of the Countries in Sub-Saharan Africa', width = 1550, height = 500, barmode = 'group')
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#F2DFCE', paper_bgcolor = '#F2DFCE', xaxis_title = 'Unemployment Rates', yaxis_title = 'Countries in Sub-Saharan Africa')
    return dcc.Graph(id = 'plot5', figure = fig)

In [27]:
def get_mena_plot():
    df1 = df
    df1 = df1.reset_index()
    df3 = df1[df1['Region'] == 'Middle East & North Africa']
    d = df3.T[3:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined2 = pd.concat([d['Country Name'], m], axis = 1)
    combined2.columns =['Country Name', 'Mean']
    
    fig = px.bar(combined2, x = 'Mean', y = 'Country Name', title = 'Average Unemployment Rates of the Countries in Middle East & North Africa', width = 1550, height = 500, barmode = 'group')
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#F2DFCE', paper_bgcolor = '#F2DFCE', xaxis_title = 'Unemployment Rates', yaxis_title = 'Countries in Middle East & North Africa')
    return dcc.Graph(id = 'plot5', figure = fig)

In [28]:
def get_na_plot():
    df1 = df
    df1 = df1.reset_index()
    df3 = df1[df1['Region'] == 'North America']
    d = df3.T[3:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined2 = pd.concat([d['Country Name'], m], axis = 1)
    combined2.columns =['Country Name', 'Mean']
    
    fig = px.bar(combined2, x = 'Mean', y = 'Country Name', title = 'Average Unemployment Rates of the Countries in North America', width = 1550, height = 500, barmode = 'group')
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#F2DFCE', paper_bgcolor = '#F2DFCE', xaxis_title = 'Unemployment Rates', yaxis_title = 'Countries in North America')
    return dcc.Graph(id = 'plot5', figure = fig)

In [29]:
def get_lac_plot():
    df1 = df
    df1 = df1.reset_index()
    df3 = df1[df1['Region'] == 'Latin America & Caribbean']
    d = df3.T[3:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined2 = pd.concat([d['Country Name'], m], axis = 1)
    combined2.columns =['Country Name', 'Mean']
    
    fig = px.bar(combined2, x = 'Mean', y = 'Country Name', title = 'Average Unemployment Rates of the Countries in Latin America & Caribbean', width = 1550, height = 500, barmode = 'group')
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#F2DFCE', paper_bgcolor = '#F2DFCE', xaxis_title = 'Unemployment Rates', yaxis_title = 'Countries in Latin America & Caribbean')
    return dcc.Graph(id = 'plot5', figure = fig)

In [30]:
def get_eca_plot():
    df1 = df
    df1 = df1.reset_index()
    df3 = df1[df1['Region'] == 'Europe & Central Asia']
    d = df3.T[3:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined2 = pd.concat([d['Country Name'], m], axis = 1)
    combined2.columns =['Country Name', 'Mean']
    
    fig = px.bar(combined2, x = 'Mean', y = 'Country Name', title = 'Average Unemployment Rates of the Countries in Europe & Central Asia', width = 1550, height = 500, barmode = 'group')
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#F2DFCE', paper_bgcolor = '#F2DFCE', xaxis_title = 'Unemployment Rates', yaxis_title = 'Countries in Europe & Central Asia')
    return dcc.Graph(id = 'plot5', figure = fig)

In [31]:
def get_eap_plot():
    df1 = df
    df1 = df1.reset_index()
    df3 = df1[df1['Region'] == 'East Asia & Pacific']
    d = df3.T[3:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined2 = pd.concat([d['Country Name'], m], axis = 1)
    combined2.columns =['Country Name', 'Mean']
    
    fig = px.bar(combined2, x = 'Mean', y = 'Country Name', title = 'Average Unemployment Rates of the Countries in East Asia & Pacific', width = 1550, height = 500, barmode = 'group')
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#F2DFCE', paper_bgcolor = '#F2DFCE', xaxis_title = 'Unemployment Rates', yaxis_title = 'Countries in East Asia & Pacific')
    return dcc.Graph(id = 'plot5', figure = fig)

In [32]:
def get_sa_plot():
    df1 = df
    df1 = df1.reset_index()
    df3 = df1[df1['Region'] == 'South Asia']
    d = df3.T[3:].T
    s = d.T[1:].T
    m = s.mean(axis = 1)
    combined2 = pd.concat([d['Country Name'], m], axis = 1)
    combined2.columns =['Country Name', 'Mean']
    
    fig = px.bar(combined2, x = 'Mean', y = 'Country Name', title = 'Average Unemployment Rates of the Countries in South Asia', width = 1550, height = 500, barmode = 'group', color_discrete_sequence = ['orange'])
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#F2DFCE', paper_bgcolor = '#F2DFCE', xaxis_title = 'Unemployment Rates', yaxis_title = 'Countries in South Asia')
    return dcc.Graph(id = 'plot5', figure = fig)

In [33]:
def create_slider():
    return html.Div([dcc.Slider(id = 'myslider', min = 1, max = 10, step = 1,
                        marks = {1:'1', 3:'3', 5:'5', 7:'7', 9:'9'}, value = 1),
                        html.Div([html.Label('Select Gap Intervals')], id = 'mydiv2' + str(id), style = {'textAlign':'center'})])

In [34]:
def slider_data():
    slider_data = '''A Slider has been provided below the graph so that the gap interval can be varied to smoothen the curve. 
    However, this variation will not affect the prediction of the unemployment rate because the actual data will remain the same.'''
    
    a = html.H5(children = slider_data, style = {'textAlign':'center', 'color':colours['info']})
    b = dbc.Row([dbc.Col(a, md = 12)], align = "center",)
                    
    return b

In [35]:
def plot_analytics(inc, year):
    df2 = get_data_analytics()
    df3 = df2[df2['IncomeGroup'] == inc]
    d1 = df3.T[1:].T
    d2 = d1.T[1:].T
    rate_list = d2[year]
    
    fig = px.bar(d2, x = 'Country Name', y = year, title = 'Unemployment Rates in the year {}'.format(year), width = 1550, height = 500, barmode = 'group')
    fig.update_layout(title_x = 0.5, plot_bgcolor = '#F2DFCE', paper_bgcolor = '#F2DFCE', xaxis_title = 'Names of the Countries having {}'.format(inc), yaxis_title = 'Unemployment Rates')
    return fig

In [36]:
def show_data():
    return dcc.Graph(id = 'plot', figure = {})

In [37]:
def create_dropdown2():
    a = df['IncomeGroup'].unique()
    a = [x for x in a if not pd.isnull(x)]
    dropdown2 = []
    for inc in a:
        temp_dict2 = {'label':inc, 'value':inc}
        dropdown2.append(temp_dict2)
    return dropdown2

def get_dropdown2():
    return html.Div([html.Label('Select the Income Group'),
                    dcc.Dropdown(id = 'mydrop2',
                    options = create_dropdown2(), value = 'Low income'), 
                    html.Div(id = 'mydivdrop')])

In [38]:
def create_slider2():
    x = df.T[3:].T
    return html.Div([dcc.Slider(id = 'myslider2', min = 1991, max = 2017, step = 1, 
                                marks={str(yr): str(yr) for yr in x.columns}, value = 1991),
                        html.Div([html.Label('Select the Year')], id = 'mydiv3' + str(id), style = {'textAlign':'center'})])

In [39]:
def get_layout():
    page_header = get_header()                      # For the Title and the Caption
    
    layout = dbc.Container(
        [page_header[0],                            # Title
            page_header[1],                         # Caption
            html.Hr(),                              # Leave a line
            get_info(),                             # Information
            html.Hr(),                              # Leave a line
            get_box(),                              # For the Prediction Box
            html.Hr(),                              # Leave a line
            pred_content(),
            get_accuracy(),
            html.Hr(),
            dbc.Row([dbc.Col(get_dropdown(), md = dict(size = 4, offset = 4))]),                   # For the Dropdown
         
            dbc.Row([dbc.Col(get_dropdown3(), md = dict(size = 4, offset = 4))]),                  # For the Dropdown
            html.Hr(),
         
            dbc.Row([dbc.Col(show_plot(), md = dict(size = 6, offset = 0))], align = "center"),    # For the Graph/Plot
            html.Hr(),                              # Leave a line
         
            dbc.Row([dbc.Col(create_slider(), md = dict( size = 4, offset = 4))]),                 # For the Slider
            html.Hr(),
            slider_data(),
            html.Hr(),
            html.Hr(),
            get_header2(),
            html.Hr(),
            get_inc_content(),
            html.Hr(),
            html.Hr(),
            dbc.Row([dbc.Col(get_li_plot(), md = dict(size = 6, offset = 0))], align = "center"),
            html.Hr(),
            html.Hr(),
            dbc.Row([dbc.Col(get_lmi_plot(), md = dict(size = 6, offset = 0))], align = "center"),
            html.Hr(),
            html.Hr(),
            dbc.Row([dbc.Col(get_umi_plot(), md = dict(size = 6, offset = 0))], align = "center"),
            html.Hr(),
            html.Hr(),
            dbc.Row([dbc.Col(get_hi_plot(), md = dict(size = 6, offset = 0))], align = "center"),
            html.Hr(),
            html.Hr(),
            get_reg_content(),
            html.Hr(),
            html.Hr(),
            #dbc.Row([dbc.Col(get_ssa_plot(), md = dict(size = 6, offset = 0))], align = "center"),
            #html.Hr(),
            #dbc.Row([dbc.Col(get_mena_plot(), md = dict(size = 6, offset = 0))], align = "center"),
            #html.Hr(),
            #dbc.Row([dbc.Col(get_eca_plot(), md = dict(size = 6, offset = 0))], align = "center"),
            #html.Hr(),
            #dbc.Row([dbc.Col(get_eap_plot(), md = dict(size = 6, offset = 0))], align = "center"),
            #html.Hr(),
            dbc.Row([dbc.Col(get_sa_plot(), md = dict(size = 6, offset = 0))], align = "center"),
            #html.Hr(),
            #dbc.Row([dbc.Col(get_dropdown2(), md = dict(size = 4, offset = 4))]),
            #html.Hr(),
            #dbc.Row([dbc.Col(show_data(), md = dict(size = 6, offset = 0))], align = "center"),
            #html.Hr(),
            #dbc.Row([dbc.Col(create_slider2(), md = dict( size = 4, offset = 4))]),
            html.Hr()],                                                                        
        fluid = True, style = {'backgroundColor':colours['bodyColor']})                            # Some conventional layout details
    
    return layout                                   # Returning the final layout

In [40]:
app.layout = get_layout()

In [41]:
@app.callback(
    [Output(component_id = 'myplot', component_property = 'figure'),          # Graph/Plot
    Output(component_id = 'mycard', component_property = 'children')],        # Prediction Box
    #Output(component_id = 'plot', component_property = 'figure')],      
    [Input(component_id = 'mydrop', component_property = 'value'),            # Dropdown
     Input(component_id = 'myslider', component_property = 'value'),          # Slider
     Input(component_id = 'mydrop3', component_property = 'value')])          # Dropdown
     #Input(component_id = 'mydrop3', component_property = 'value'),
     #Input(component_id = 'myslider2', component_property = 'value')])

def update_output(input1, input2, input3):
    return get_plot(input1, input2), get_box(input1, input3)

@app.callback(
    [Output(component_id = 'plot', component_property = 'figure')],
    [Input(component_id = 'mydrop2', component_property = 'value')])          # Dropdown
     #Input(component_id = 'myslider2', component_property = 'value')])

def update_output(input4, input5):
    return plot_analytics(input4, input5)

In [ ]:
if __name__ == '__main__':
    app.run_server(debug = False)
    #app.run_server(debug = True)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [07/May/2021 16:47:50] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [07/May/2021 16:47:52] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [07/May/2021 16:47:52] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [07/May/2021 16:47:53] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/May/2021 16:53:07] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/May/2021 16:53:11] "POST /_dash-update-component HTTP/1.1" 200 -